/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
/log

.#*
/jars
*.log
*.edn
*.jcoDestination
oracle-meta
/docker/m2
/docker/jars
.nrepl-port
/docker/lein
*.trc
/.docker-state
.envrc

